@model string
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link href="~/Css/Add.css" rel="stylesheet" />
        <link href="~/Css/Csillagok.css" rel="stylesheet" />
        <title>Vélemény hozzáadása</title>
    </head>
    <body>

        <nav class="navbar navbar-inverse top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Peti Nagyker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/Home/GenerateData">Adatok generálása</a></li>
                    <li><a href="/Home/AddKesBolt">Kés bolt felvétele</a></li>
                    <li><a href="/Home/ListKesBolt">Jelenlegi kés boltok listázása</a></li>
                </ul>
            </div>
        </nav>

        <div class="center">
            <form id="addvelemeny" action="/Home/AddVelemeny" method="post">
                <p class="inputcim">Adja meg az Ön nevét:</p> <br />
                <input class="form-control" name="Szerzo" type="text" minlength="2" maxlength="30" placeholder="Az Ön neve" /><br />
                <p class="inputcim">Válassza ki mennyire volt elégedett:<br /></p>
                <div class="central">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="Elegedettseg" value="10" /><label class="full" for="star5" title="5 csillag"></label>
                        <input type="radio" id="star4half" name="Elegedettseg" value="9" /><label class="half" for="star4half" title="4 és fél csillag"></label>
                        <input type="radio" id="star4" name="Elegedettseg" value="8" /><label class="full" for="star4" title="4 csillag"></label>
                        <input type="radio" id="star3half" name="Elegedettseg" value="7 " /><label class="half" for="star3half" title="3 és fél csillag"></label>
                        <input type="radio" id="star3" name="Elegedettseg" value="6" /><label class="full" for="star3" title="3 csillag"></label>
                        <input type="radio" id="star2half" name="Elegedettseg" value="5" /><label class="half" for="star2half" title="2 és fél csillag"></label>
                        <input type="radio" id="star2" name="Elegedettseg" value="4" /><label class="full" for="star2" title="2 csillag"></label>
                        <input type="radio" id="star1half" name="Elegedettseg" value="3" /><label class="half" for="star1half" title="1 és fél csillag"></label>
                        <input type="radio" id="star1" name="Elegedettseg" value="2" /><label class="full" for="star1" title="1 csillag"></label>
                        <input type="radio" id="starhalf" name="Elegedettseg" value="1" /><label class="half" for="starhalf" title="fél csillag"></label>
                    </fieldset>
                </div>
                <input type="hidden" name="Gyartasi_Cikkszam" value="@Model" /><br />
                <textarea class="form-control" name="VelemenySzovege" maxlength="1024" placeholder="Ide írhatja az Ön véleményét" form="addvelemeny"></textarea><br />
                <input type="submit" value="Vélemény hozzáadás" form="addvelemeny" class="btn btn-primary" />
            </form>
        </div>
        <div>
            <p><a class="bottomright torles" href="/Home/ListKes?id=@Model">Mégsem</a></p>
        </div>
    </body>
</html>