<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <a href="/Home/AddKesBolt"><h1>Hozzáadás Kés bolt</h1></a>
    <!--<a href="/Home/AddKes"><h1>Hozzáadás Kés</h1></a>
    <a href="/Home/AddVelemeny"><h1>Hozzáadás Vélemény</h1></a>!-->
</body>
</html>