<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Css/Index.css" rel="stylesheet" />
    <title>Main Page</title>
</head>
<body>
    <br />
    <ul>
        <li><a href="/Home/GenerateData"><h1>Adatok Generálása</h1></a></li>
        <li><a href="/Home/AddKesBolt"><h2>Hozzáadás Kés bolt</h2></a></li>
        <li><a href="/Home/ListKesBolt"><h2>Kés boltok listázása</h2></a></li>
        <li><a href="/Home/ListLegalis"><h2>Legálisan hordható kések</h2></a></li>
        <li><a href="/Home/ListLegjobbanErtekelt"><h2>Az Önök kedvence</h2></a></li>
        <li><a href="/Home/ListBoltokcpms30"><h2>Boltok CPM-S30V acéllal</h2></a></li>
    </ul>
</body>
</html>