@model IEnumerable<Models.Velemeny>

@{
    ViewData["Title"] = "ListVelemeny";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="~/Css/Csillagokdisabled.css" rel="stylesheet" />
    <link href="~/Css/List.css" rel="stylesheet" />
    <title>Vélemények listázása</title>
</head>
<body>
    <nav class="navbar navbar-inverse top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Peti Nagyker</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Home/GenerateData">Adatok generálása</a></li>
                <li><a href="/Home/AddKesBolt">Kés bolt felvétele</a></li>
                <li><a href="/Home/ListKesBolt">Jelenlegi kés boltok listázása</a></li>
            </ul>
        </div>
    </nav>
    @if (Model.Count() != 0)
    {
        <a class="bottomright" href="/Home/BackToKesek?id=@Model.First().Gyartasi_Cikkszam">Vissza a termékekhez</a>
        <p></p><br />
        <table class="table table-bordered table-dark center">
            <thead>
                <tr class="trheading">
                    <th>
                        Szerző
                    </th>
                    <th>
                        Elégedettség
                    </th>
                    <th>
                        Vélemény szövege
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="trbody fixwidth">
                        <td>
                            @Html.DisplayFor(modelItem => item.Szerzo)
                        </td>
                        <td>
                            @item.Elegedettseg/10
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.VelemenySzovege)
                        </td>
                        <td>
                            <ul>
                                <li><a class="hozzaad" href="/Home/EditVelemeny?id=@item.Velemeny_Id">Vélemény szerkesztése</a></li>
                                <li><a class="torles" href="/Home/DeleteVelemeny?id=@item.Velemeny_Id">Vélemény törlése</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p></p><br />

    }
    else
    {
        <p class="hibauzenet center">A listája üres hamarosan átírányítjuk a főoldalra</p>
        <script type="text/javascript">
            setTimeout(myFunction, 3500)

            function myFunction() {
                window.location.href = "/";
            }
        </script>
    }
</body>
</html>